<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html {
        background-color: rgb(135, 180, 182);
    }
    .data{
        color: rgb(241, 13, 120);
    }
    .college{
        align-items: center;
        text-align: center;
    }
    .main{
        display: flex;
    }
    .college1{
        width: 100%;
        margin-top: 50px;
        margin-right: 50px;
    }
    .tbl{
        margin-right: 250px;
        width: 50%;
    }

</style>
<body>
    <div class="college"><img src="http://www.iiitt.ac.in/images/logo-iiit.png" /></div>
    <h2><a href="/">Go Back To Home</a></h2>
    <br /><br />
    <div class="main">

    <table class="tbl">
        <thead>
        <td><h2>Name</h2></td>
        <td><h2>&nbsp;&nbsp;&nbsp;&nbsp;Roll Number </h2></td>
        <td><h2>&nbsp;&nbsp;&nbsp;&nbsp;Semester</h2></td>
        <td><h2>&nbsp;&nbsp;&nbsp;&nbsp;Branch</h2></td>
        <td><h2>&nbsp;&nbsp;&nbsp;&nbsp;Email</h2></td> &NonBreakingSpace;
        </thead> 
<tbody>
        {% for row in rows %} 
        <tr class="data">
            
            <td><h3>{{row[0]}}</h3></td> &nbsp;&nbsp;
            <td><h3>&nbsp;&nbsp;&nbsp;&nbsp;{{row[1]}}</h3></td>&nbsp;&nbsp;
            <td><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row[4]}}</h3></td>&nbsp;&nbsp;
            <td><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row[2]}}</h3></td>&nbsp;&nbsp;
            <td><h3>{{row[3]}}</h3></td>&nbsp;&nbsp;
        </tr>
        {% endfor %}
    </tbody>
    </table>
     <br />

     <div class="college1"><img src="http://www.iiitt.ac.in/images/newslide/01.png" /></div>
    
    </div>
    <h2><a href="/">Go Back To Home</a></h2>

</body>
</html>
